QPushButton{
    border:hidden;
    margin-right:1px;
    margin-top:1px;
}

QPushButton:hover{
    font-size:24px;

}

QPushButton#clearAllBtn:hover{
    background-color:gray;
    color:white;
}
QPushButton#clearBtn:hover{
    color:white
}

QLineEdit{
    border-left:solid 1px #ccc;
    border-right:solid 1px #ccc;
    border-top:solid 1px white;
    border-bottom:solid 1px white;
}
QTextEdit{
    border:solid 1px #ccc;
}
QLabel{
    border:solid 1px #ccc;
    background-color:white;
}


